*{
    margin: 0px;
    padding: 0px;
    color:white;
    text-align: right;
}
div#elemanlar{
    width: 200px;
    margin-top: 150px;
}
div#elemanlar ul{
    list-style: none;
}
div#elemanlar ul li{
    margin-top: 5px;
    background-color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 7px 2px 15px green;
    -webkit-transition: padding-left 0.5s, backround-color 0.3s;
}

div#elemanlar ul li:hover{
    padding-left: 35px;
    background-color: darkred;
}